<app-loading [condition]="isLoading"></app-loading>

<!-- <app-toast [message]="toast.message"></app-toast>  -->

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current cars ({{cars.length}})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Make</th>
          <th scope="col">Model</th>
          <th scope="col">Style</th>
          <th scope="col">Condition</th>
          <th scope="col">Dealer</th>
          <th scope="col">Year</th>
          <th scope="col">Price</th>
          <th scope="col">Mileage</th>
          <th scope="col">Image Path</th>
          <th scope="col">Zip code</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="cars.length === 0">
        <tr>
          <td colspan="4">There are no cars in the DB. Add a new car below.</td>
        </tr>  
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let car of cars">
          <td>{{car.make?.name}}</td>
          <td>{{car.model?.name}}</td>
          <td>{{car.style?.name}}</td>
          <td>{{car.condition?.name}}</td>
          <td>{{car.dealer?.name}}</td>
          <td>{{car.year}}</td>
          <td>{{car.price}}</td>
          <td>{{car.mileage}}</td>
          <td><img class="imagesize" src="{{car.imagePath}}" alt="car image"/></td>
          <td>{{car.zipCode}}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="enableEditing(car)">
              <i class="fa fa-pencil"></i> Edit
            </button> 
            <button class="btn btn-sm btn-danger ml-1" (click)="deleteCar(car)">
              <i class="fa fa-trash"></i> Delete
            </button>
          </td>
        </tr>  
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editCar(car)">
              <!-- <input class="form-control mr-2" type="text" name="name"
                     [(ngModel)]="car.make.name" placeholder="Make" required> -->
              <!-- <select class="form-control mr-2" name="makes" [(ngModel)] = "car.make">
                <option [ngValue]="null" disabled selected>Select a make</option>
                <option *ngFor="let mk of allMakes" [ngValue]="mk" [selected]="car.make?._id == mk._id">
                    {{ mk.name }}
                </option>
              </select> -->
              <input class="form-control mr-2" type="number" name="year"
                     [(ngModel)]="car.year" placeholder="Year" min="0" required>
              <input class="form-control mr-2" type="number" name="price"
                     [(ngModel)]="car.price" placeholder="Price" min="0" required>
                <input class="form-control mr-2" type="number" name="mileage"
                    [(ngModel)]="car.mileage" placeholder="Mileage" min="0" required>
                <input class="form-control mr-2" type="text" name="zipCode"
                     [(ngModel)]="car.zipCode" placeholder="Zip code" required>
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid">
                <i class="fa fa-floppy-o"></i> Save
              </button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                <i class="fa fa-times"></i> Cancel
              </button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new car</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addCarForm" (ngSubmit)="addCar()">      
        <select class="form-control mr-2" name="makes" formControlName="make">
            <option [ngValue]="null" disabled selected>Select a make</option>
            <option *ngFor="let mk of allMakes" [ngValue]="mk">
                {{ mk.name }}
            </option>
        </select>

        <select class="form-control mr-2" name="models" formControlName="model">
            <option [ngValue]="null" disabled selected>Select a model</option>
            <option *ngFor="let mod of allModels" [ngValue]="mod">
                {{ mod.name }}
            </option>
        </select>

        <select class="form-control mr-2" name="styles" formControlName="style">
            <option [ngValue]="null" disabled selected>Select a style</option>
            <option *ngFor="let sty of allStyles" [ngValue]="sty">
                {{ sty.name }}
            </option>
        </select>

        <select class="form-control mr-2" name="conditions" formControlName="condition">
            <option [ngValue]="null" disabled selected>Select a condition</option>
            <option *ngFor="let con of allConditions" [ngValue]="con">
                {{ con.name }}
            </option>
        </select>

        <select class="form-control mr-2" name="dealers" formControlName="dealer">
            <option [ngValue]="null" disabled selected>Select a dealer</option>
            <option *ngFor="let deal of allDealers" [ngValue]="deal">
                {{ deal.name }}
            </option>
        </select>
      <input class="form-control mr-2" type="number" name="year"
             formControlName="year" placeholder="Year" min="0">
      <input class="form-control mr-2" type="number" name="price"
             formControlName="price" placeholder="Price" min="0">
        <input class="form-control mr-2" type="number" name="mileage"
             formControlName="mileage" placeholder="Mileage" min="0">
        <input class="form-control mr-2" type="text" name="imagePath"
             formControlName="imagePath" placeholder="Image Path">       
        <!-- <input type="file" name="imagePath" (change)="onFileChange($event.target.file)" /> -->
      <input class="form-control mr-2" type="text" name="zipCode"
             formControlName="zipCode" placeholder="Zip code">
      <button class="btn btn-primary" type="submit" [disabled]="!addCarForm.valid">
        <i class="fa fa-plus"></i> Add
      </button>
    </form>
  </div>
</div>